fastapi==0.122.0
uvicorn==0.38.0
requests==2.32.5
sentence-transformers==5.1.2
scikit-learn==1.7.2
transformers==4.57.3

# Явно CPU-only torch последней версии (это работает!)
torch==2.9.1+cpu
torchaudio==2.9.1+cpu
torchvision==2.9.1+cpu
--index-url https://download.pytorch.org/whl/cpu
